
body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 4rem auto;
  padding: 1rem;
  line-height: 1.5;
  background-color: #c3d9f1;
}
a {
  font-weight: bold;
}

p{
    font-size: 30px;
    font-weight: bold;
}
